$third: #f5db13;
$primary: #f2b807;
$second: #f28f16;
$danger: #d93e30;
$white: #f2f2f2;
$dark: #212121;

//pokemon types
$grass: #70a83b;
$bug: $grass;

$water: #76aadb;
$ice: $water;

$fire: #f76545;
$rock: #a1a1a1;
$poison: #a974bc;
$ground: #9b897b;
$electric: #f7c545;
