.root {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  flex-grow: 1;
}

.cardsWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.title {
  margin: 74px 0 34px;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}
