@import '../../styles/variables';

.root {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  font-size: 64px;
}

.parallaxWrap {
  overflow: hidden;
}

.textWrap {
  p {
    font-size: 32px;
  }
}
