@import '../../styles/variables';

.root {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $danger;
  overflow: hidden;
}

.errorWrap {
  position: absolute;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  font-size: 45vw;
  font-weight: bold;
  opacity: 50%;
}

.content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.image {
  width: 690 / 1920 * 100%;
  height: auto;
}

.highlighted {
  color: #fff;
}
